@use "../tokens";

.rounded {
    border-radius: 50%;
}

.border {
    border: 1px solid black;
}

.border-secondary {
    border: 1px solid tokens.$color-white;
}

$roundSizes: 4 8 10;

@each $size in $roundSizes {
    .rounded-#{$size} {
        border-radius: #{$size}px;
    }
}
