.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-min-0 {
    min-width: 0;
}

.h-min-0 {
    min-height: 0;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap-10 {
    gap: 10px;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
