.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-gap-10 {
    gap: 10px;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
