@use "../tokens";

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

@each $size in tokens.$spaceSizes {
    .gap-#{$size} {
        gap: #{$size}px;
    }

    .p-#{$size} {
        padding: #{$size}px;
    }
    .px-#{$size} {
        padding-left: #{$size}px;
        padding-right: #{$size}px;
    }
    .py-#{$size} {
        padding-top: #{$size}px;
        padding-bottom: #{$size}px;
    }
    .pl-#{$size} {
        padding-left: #{$size}px;
    }
    .pr-#{$size} {
        padding-right: #{$size}px;
    }
    .pt-#{$size} {
        padding-top: #{$size}px;
    }
    .pb-#{$size} {
        padding-bottom: #{$size}px;
    }

    .m-#{$size} {
        margin: #{$size}px;
    }
    .mx-#{$size} {
        margin-left: #{$size}px;
        margin-right: #{$size}px;
    }
    .my-#{$size} {
        margin-top: #{$size}px;
        margin-bottom: #{$size}px;
    }
    .ml-#{$size} {
        margin-left: #{$size}px;
    }
    .mr-#{$size} {
        margin-right: #{$size}px;
    }
    .mt-#{$size} {
        margin-top: #{$size}px;
    }
    .mb-#{$size} {
        margin-bottom: #{$size}px;
    }
}
