.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex-gap-10 {
    gap: 10px;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.p-10 {
    padding: 10px;
}

.px-10 {
    padding: 0 10px;
}

.py-10 {
    padding: 10px 0;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}
