._flex {
    display: flex;
}

._flex-column {
    flex-direction: column;
}
._flex-row {
    flex-direction: row;
}

._flex-gap_10 {
    gap: 10px;
}

._flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
