$color-white: #ffffff;
$color-black: #000000;

$color-gray-950: #1c1b21;

$color-text-primary: #111827;
$color-text-secondary: #ffffff;

$color-bg-secondary: #000000;
$color-layer-secondary: #b8b8b8;

$color-primary: #4f46e5;
$color-secondary: #22c55e;
$color-danger: #ef4444;

$color-text: #111827;
$color-muted: #6b7280;
$color-bg: #ffffff;
