.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.card-image {
    background: #b8b8b8;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: start;
    height: 180px;
}
