.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.fav-counter {
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #000; /*var(--black);*/
    border-radius: 50%;
    padding: 0 10px;
}
